:root {
  --main-bg-color: #fff;
  --text-color: #000;

  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;

  --card-bg-color: #343a46;
  --green-color: #219679;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

body[data-theme='light'] {
  --main-bg-color: #fff;
  --text-color: #000;
  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;

  --card-bg-color: #ebedf0;
  --green-color: #219679;
  color-scheme: light;
}

body[data-theme='dark'] {
  --main-bg-color:#23272f;
  --text-color: #fff;

    --btn-bg-color: #16444f;
    --btn-text-color: #57c4dc;

    --card-bg-color: #343a46;
    --green-color: #219679;
    color-scheme: dark;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--main-bg-color);
    --text-color: #000;

     --btn-bg-color: #383b3f;
    --btn-text-color: #fff;

    --card-bg-color: #ebedf0;
    --green-color: #219679;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color:#23272f;
    color: #fff;

    --btn-bg-color: #16444f;
    --btn-text-color: #57c4dc;

    --card-bg-color: #343a46;
    --green-color: #219679;
  }
}
